{{!-- {{#if useState}}
import { useState, FC } from 'react'
{{/if}} --}}
{{!-- TODO: add FC --}}
{{!-- import type { FC } from '~types/FC' --}}import { FC } from 'react'
import { {{properCase name}}Props } from './{{properCase name}}.types'

export const {{properCase name}}: FC<{{properCase name}}Props> = ({}) => {
	{{!-- {{#if useState}}
	const [] = useState()
	{{/if}} --}}
	return <div data-testid='{{properCase name}}'>{/* children */}</div>
}
{{!-- TODO: Add memo by default --}}