import { {{properCase name}}Props } from './{{properCase name}}.types'

export const {{properCase name}} = ({}: {{properCase name}}Props) => {
	{{!-- {{#if useState}}
	const [] = useState()
	{{/if}} --}}
	return <div data-testid='{{properCase name}}'>{/* children */}</div>
}
{{!-- TODO: Add memo by default --}}