import { memo } from 'react'
import { {{properCase name}}Props } from './{{properCase name}}.types'

export const {{properCase name}} = memo(function {{properCase name}}({ children, testId = '{{properCase name}}' }: {{properCase name}}Props) {
	return <div data-testid={testId}>{children}</div>
})
